$base-color: #1461ff;
$white-base: #fafafa;
$hovert-base: #ffffffb3;
$text-base:black;
$background-base: #aebcb9;


.hire_me{

    text-align: center;
    padding: 5em;
 width: 100%;
 height: 100%;
        background: linear-gradient(-120deg, #60a2f5 50%,#3957ed  100%);
 .hire-text{
color: $white-base;
font-size: 2em;
font-family: 'Raleway', sans-serif;
font-weight: 600;


 }
} 



.btn-hire {
       background: #fafafa; 
       font-size: 1.1em;
       color: black; 
       border: 2px solid #3957ed; 
       padding: 16px 5em;
       border-radius: 25px; 
       position: relative;
       z-index: 1;
       overflow: hidden;
       text-decoration: none;
       display: inline-block;
     }
     .btn-hire:hover {
       color: #fff; 
     }
     .btn-hire::after {
       content: "";
       background: #4741d7;
       position: absolute;
       z-index: -1;
       padding: 16px 5em;
       display: block;
       left: 0;
       right: 0;
       top: -100%;
       bottom: 100%;
       -webkit-transition: all 0.35s;
       transition: all 0.35s;
     }
     .btn-hire:hover::after {
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
       -webkit-transition: all 0.35s;
       transition: all 0.35s;
     }